*.png
*.pdf
*.csv
*.txt

!/report1_OSS/GitMining_App/Image/oss_1200.png

/講義資料/others

/課題確認プログラム

/cp1_ansr

!/report1_OSS/GitMiningApp/readme_images/Title.png
!/report1_OSS/GitMiningApp/readme_images/API_Json.png
!/report1_OSS/GitMiningApp/readme_images/API_Result.png
!/report1_OSS/GitMiningApp/readme_images/API_Mining.png
!/report1_OSS/GitMiningApp/readme_images/API_Mining_Result.png
!/report1_OSS/GitMiningApp/readme_images/Clone_Repository.png
!/report1_OSS/GitMiningApp/readme_images/CreateGraph.png
/NameList/SimpleServerClient/NAMELIST_12_29
/NameList/完成(確認用応答とって_Pを実装)/NAME_FIN_2021_12_21
/NameList/完成(確認用応答とって_Pを実装)/NAME_FIN_DIRTY_2021_12_24
/NameList/完成(確認用応答とって_Pを実装)/NAME_FINver2_2021_12_21
/NameList/完成(確認用応答とって_Pを実装)
/NameList/名簿管理プログラム/綺麗でない名簿管理プログラム
